@charset "UTF-8";
/* CSS Document */

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

h1 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 78px;
	font-weight: 100;
}

h2 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 68px;
	font-weight: 100;
}

h3 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 48px;
	font-weight: 100;
}

h4 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 34px;
	font-weight: normal;
}

h5 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 32px;
	font-weight: normal;
}

h6 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 30px;
	font-weight: normal;
}

p {
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 24px;
	line-height: 50px;
}

caption {
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 22px;
	text-align: left;
}


/* Navigation */

.navigation {
	padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	top: 0;
	background-color: white;
}

#logo {
	height: 65px;
	margin-left: 20px;
}


.top-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 25px;
}

.top-nav ul li{
	text-decoration: none;
	color: black;
	padding: 20px;
	display: inline;
}

.top-nav a{
	text-decoration: none;
	color: black;
	padding: 10px;

}

.active{
	color: #1827DE;
}

.top-nav a:hover{
	color: rgb(71, 71, 71);
}

.top-nav a:active{
	color: #1827DE;
}

/* Hero Image */

.heroImg {
	height: 1100px;
	padding: 25px;
	padding-top: 50px;

}

.content {
	display: grid;
	padding: 10px;
	grid-template-rows: 1fr 1fr;
}

.aboutMe {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

#headshot {
	margin: 8px;
	width: 300px;
	height: auto;
}

.skills {
	margin-left: 33%;
	display: inline;
}

.skills h4 {
	margin: 0px;
}


button {
	background-color: transparent;
	border: 2px solid #1827DE;
	color: #1827DE;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 32px;
	margin: 10px;
}

button:hover {
	background-color: #1827DE;
	color: white;
}

/* My UX Skills */

.mySkills {
	margin-bottom: 90px;
}

.mySkills h1{
	text-align: center;
}

.mySkills ul {
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 18px;
	line-height: 40px;
	font-weight: normal;
}

.skillsFrame {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 10px;
}

.skillsContainer {
	padding: 10px;
	text-align: center;
}

.skillsContainer img {
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

/* Footer */

footer {
	height: 300px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.copyright {
	margin-left: 80px;
}

.copyright caption {
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 22px;
	text-align: left;
	width: 400px;
}

address {
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 22px;
	padding: 5px;
}

footer a {
	font-family: "Helvetica Neue", Helvetica, Arial, "sans serif";
	font-size: 22px;
	color: black;
	text-decoration: none;
}

footer img {
	height: 20px;
	padding: 1px;
}

.email {
	display: inline-block;
}

.linkedIn {
	display: inline-block;
}